<style>
  p {
    color: #000;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
  }
</style>


<div class="font-yomogi mx-5 my-5">
  <div class="top">
    <div class="hero min-h-[600px] relative" style="background-image: url(<%= asset_path "first_view_cat.jpg" %>);"> 
        <p class="font-yomogi text-3xl text-red-900 absolute top-12 left-0">「もふもふ」こそ正義</p>
    </div>
  </div>
    <div class="treatment  text-center">
      <p class="font-yomogi text-xl leading-loose mt-5 text-red-900">「もふは正義」の使い方</p>
              <!-- にくきゅう右　-->
        <div class="absolute right-20">
          <%= image_tag 'nikukyu.jpg', size: "50x50" %>
        </div>
        <div class="absolute right-10 mt-5">
          <%= image_tag 'nikukyu.jpg', size: "50x50" %>
        </div>
          <p class="text-sm relative text-red-900">「もふは正義」は、<br>
          動物写真特化型のSNSサービスです<br>
          もふもふで癒されます<br>
      </p>
    </div>
    <div class="contributor text-center relative">
      <p class="font-yomogi text-xl leading-loose mt-5 text-red-900">もふもふが好きな方へ</p>
        <!-- にくきゅう左　-->
        <div class="absolute left-20">
          <%= image_tag 'nikukyu.jpg', size: "50x50" %>
        </div>
        <div class="absolute left-10">
          <%= image_tag 'nikukyu.jpg', size: "50x50" %>
        </div>
          <p class="text-sm relative text-red-900">まずは、一覧画面へ飛んでみてください！<br>
          動物写真しかないことに驚くことでしょう<br>
          貴方の好きなもふもふにきっと出会えるはず・・・<br>
          出会えた時は、ぜひコメントやいいねを残してください！<br>
        <!-- にくきゅう右　-->
      <div class="absolute right-20">
        <%= image_tag 'nikukyu.jpg', size: "50x50" %>
      </div>
      <div class="absolute right-10 mt-5">
        <%= image_tag 'nikukyu.jpg', size: "50x50" %>
      </div>
    </div>

    <div class="contributor text-center">
      <p class="font-yomogi text-xl leading-loose mt-5 relative text-red-900">我が子がかわいい方へ</p>
        <p class="text-sm text-red-900">まずは、ユーザー登録をお願い致します<br>
        貴方の可愛い子の姿は、みんな見たいのです！<br>
        貴方のページに飛んで可愛らしさを噛み締めたいのです<br>
        </p>
    </div>

    <div class="contributor text-center">
      <!-- にくきゅう左　-->
      <div class="absolute left-20">
        <%= image_tag 'nikukyu.jpg', size: "50x50" %>
      </div>
      <div class="absolute left-10 mt-5">
        <%= image_tag 'nikukyu.jpg', size: "50x50" %>
      </div>
      <p class="font-yomogi text-xl leading-loose mt-1 relative text-red-900">人間の皆さんへ</p>
        <p class="text-sm relative text-red-900">人間を媒体にした写真を投稿しないようにご注意ください！<br>
                <!-- にくきゅう右　-->
        <div class="absolute right-20">
          <%= image_tag 'nikukyu.jpg', size: "50x50" %>
        </div>
        <div class="absolute right-10 mt-5">
          <%= image_tag 'nikukyu.jpg', size: "50x50" %>
        </div>
        <p class="text-sm relative text-red-900">もしかすると・・・今後、とんでもないことになってしまうかもしれませんので、<br>
        注意喚起が出た際は、お手数ですが人間を消してからの投稿をよろしくお願い致します</p>
    </div>
  <div class="flex justify-center mt-6 relative">
    <%#= image_tag 'logo_nikukyu.jpg' %>
    <div class="bg-lime-300 rounded-lg">
      <%= image_tag("logo_nikukyu.jpg") %>
    </div>
  </div>
    <!-- にくきゅう左　-->
  <div class="absolute left-0">
    <%= image_tag 'nikukyu.jpg', size: "50x50" %>
  </div>
  <div class="absolute left-10 mt-5">
    <%= image_tag 'nikukyu.jpg', size: "50x50" %>
  </div>
  <!-- ボタン -->
  <div class="flex justify-center relative">
    <%= button_to '🐾もふの住人になる🐾', new_user_session_path, class: "btn btn-outline btn-secondary mt-10" %>
  </div>
              <!-- にくきゅう右　-->
  <div class="absolute right-20">
    <%= image_tag 'nikukyu.jpg', size: "50x50" %>
  </div>
  <div class="absolute right-10 mt-5">
    <%= image_tag 'nikukyu.jpg', size: "50x50" %>
  </div>
  <div class="flex justify-center mt-5 relative">
    <%= button_to '🐾もふもふの世界へ🐾', posts_path, class: "btn btn-outline btn-warning",  method: :get %>
  </div>
</div>