<header class="bg-lime-300 body-font shadow">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <%= link_to image_tag('logo_type.jpg', size: '150x150'), root_path%>
    <div class="md:ml-auto flex flex-wrap items-center text-base justify-center text-pink-500">
      <%= link_to "マイページ", "" ,class: "mr-5 hover:text-yellow-700" %>
      <%# if posts_path? %>
        <%= link_to '一覧画面', posts_path , class: "mr-5 hover:text-yellow-700"%>
      <%# else %>
        <%= link_to '投稿画面', new_post_path , class: "mr-5 hover:text-yellow-700"%>
      <%# end %>
      <%= link_to "" , method: :delete ,class: "hover:text-yellow-700" do %>
        <i class="fa-brands fa-google">ログアウト</i>    
      <% end %>
    </div>
  </div>
</header>