<dev class="font-yomogi text-center text-red-900">
  <h2 class="text-3xl m-3 lg:m-5"><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'ãƒ¡ã‚¢ãƒ‰ã‚’å…¥åŠ›ã«ã‚ƒã‚“', class: "m-3 lg:m-5" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'ðŸ¾ðŸ¾ðŸ¾ðŸ¾ðŸ¾ðŸ¾', class: "m-3 lg:m-5" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= button_to t(".sign_in"), new_session_path(resource_name), method: :get, class: "btn btn-outline btn-secondary mt-3 lg:mt-4" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</dev>