<%= form_with model: post, local: true do |f| %>
  <div class="text-red-900">
              <!-- ã«ããã‚…ã†å³ã€€-->
    <div class="absolute right-20">
      <%= image_tag 'nikukyu.jpg', size: "50x50" %>
    </div>
    <div class="absolute right-10 mt-5">
      <%= image_tag 'nikukyu.jpg', size: "50x50" %>
    </div>
    <!-- æŠ•ç¨¿å -->
    <div class="flex items-center justify-center text-center relative mt-3">
      <div class="form-group items-center">
        <%= f.label t('posts.new.name') %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'ã‚‚ãµã®ãªã¾ãˆ' %>
      </div>
    </div>
        <!-- ã«ããã‚…ã†å·¦ã€€-->
    <div class="absolute left-0">
      <%= image_tag 'nikukyu.jpg', size: "50x50" %>
    </div>
    <div class="absolute left-10 mt-5">
      <%= image_tag 'nikukyu.jpg', size: "50x50" %>
    </div>
    <!-- æŠ•ç¨¿æœ¬æ–‡ -->
    <div class="flex items-center justify-center text-center">
      <div class="form-group relative mt-3">
        <%= f.label t('posts.new.body') %>
        <div class="container">
          <%= f.text_area :body, class: 'form-control  lg:w-80', rows: 3, placeholder: 'ãŠã™ã™ã‚ãƒã‚¤ãƒ³ãƒˆðŸ¾31æ–‡å­—ã§ï¼' %>
        </div>
      </div>

      <!-- ã«ããã‚…ã†å³å·¦ã€€-->
      <div class="absolute left-0">
        <%= image_tag 'nikukyu.jpg', size: "50x50" %>
      </div>
      <div class="absolute right-10 mt-5">
        <%= image_tag 'nikukyu.jpg', size: "50x50" %>
      </div>
    </div>
                  <!-- ã«ããã‚…ã†å³ã€€-->
    <div class="absolute right-20 lg:flex lg:justify-center lg:items-center">
      <%= image_tag 'nikukyu.jpg', size: "50x50" %>
    </div>
    <div class="absolute right-10 mt-5">
      <%= image_tag 'nikukyu.jpg', size: "50x50" %>
    </div>
    <div class="form-group relative">
      <%#= f.label t('posts.new.post_image') %>
      <%= f.file_field :post_image, class: 'form-control mb-3 mt-3' %>
      <%= f.hidden_field :post_image_cache %>
    </div>
    <div class='mt-3 mb-3 relative'>
      <%= image_tag post.post_image.url, id: 'preview', size: '300x200' %>
    </div>
    <%= f.submit class: 'btn btn-outline btn-success m-3' %>
  </div>
<% end %>