<div class="font container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <%= turbo_frame_tag "posts-page-#{@posts.current_page}" do %>
            <% @posts.each do |post| %>
              <%= render partial: 'post', locals: { post: post } %>
            <% end %>
          <%= turbo_frame_tag "posts-page-#{@posts.next_page}", loading: :lazy, src: path_to_next_page(@posts) %>
        <% end %>
        <% else %>
          <p><%= t('.no_result') %><%= image_tag 'nikukyu.jpg', size: "50x50" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>