<div class="font-yomogi text-red-900 container flex items-center justify-center text-center">
   <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-3xl mt-3"><%= t('.title') %></h1>
        <!-- ã«ããã‚…ã†å³ã€€-->
          <div class="absolute right-5">
            <%= image_tag 'nikukyu.jpg', size: "50x50" %>
          </div>
          <div class="absolute right-0 mt-10">
            <%= image_tag 'nikukyu.jpg', size: "50x50" %>
          </div>
      <!-- æŽ²ç¤ºæ¿å†…å®¹ -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @post.post_image.url, class: 'card-img-top img-fluid relative', size: '300x200' %>
            </div>
            <div class='col-md-9 relative'>
              <h3 class="d-inline text-xl"><%= @post.name %></h3>
              <!-- æŠ•ç¨¿è€…ä»¥å¤–ã«è¦‹ã›ãªã„ -->
              <h6 class="text-lg"><%= simple_format(@post.body) %></h6>
              <!-- å‰Šé™¤ãƒ»ç·¨é›†button -->
              <% if current_user && current_user.own?(@post) %>
                <%= render 'crud_menus', post: @post %>
              <% end %>
            </div>
          </div>
          <!-- Twitterã‚·ã‚§ã‚¢ -->
          <% set_meta_tags  og: { image: image_url(@post.post_image_url) }, twitter: { image: image_url(@post.post_image_url) } %>
          <%# binding.pry %>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=ã¿ã¦ã¿ã¦ðŸ¾%0a%0aã€Œ#{ @post.name }ã€ã¯æ­£ç¾©ðŸ¾%0a%0a&hashtags=ã‚‚ãµã¯æ­£ç¾©,ã‚‚ãµã‚‚ãµ", target: '_blank', class: 'fa-brands fa-twitter fa-2xl relative mt-3', style: 'color: #909398;' do %>
          <% end %>
        </div>
          <!-- ã«ããã‚…ã†å·¦ã€€-->
            <div class="absolute left-5">
              <%= image_tag 'nikukyu.jpg', size: "50x50" %>
            </div>
            <div class="absolute left-10 mt-20">
              <%= image_tag 'nikukyu.jpg', size: "50x50" %>
            </div>
        <% if current_user %>
          <!-- ã‚³ãƒ¡ãƒ³ãƒˆãƒ•ã‚©ãƒ¼ãƒ  -->
            <%= render 'comments/form', { post: @post, comment: @comment } %>
        <% end %>
          <!-- ã‚³ãƒ¡ãƒ³ãƒˆã‚¨ãƒªã‚¢ -->
            <%= render 'comments/comments', { comments: @comments } %>
      </article>
    </div>
  </div>
</div>
