<div class="font-yomogi container flex items-center justify-center text-center">
   <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-3xl mt-3"><%= t('.title') %></h1>
      <!-- æŽ²ç¤ºæ¿å†…å®¹ -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @post.post_image.url, class: 'card-img-top img-fluid', size: '300x200' %>
            </div>
            <div class='col-md-9'>
              <h3 class="d-inline text-xl"><%= @post.name %></h3>
              <!-- æŠ•ç¨¿è€…ä»¥å¤–ã«è¦‹ã›ãªã„ -->
              <h6 class="text-lg"><%= simple_format(@post.body) %></h6>
              <%= render 'crud_menus', post: @post  if current_user.own?(@post) %>
            </div>
          </div>
          <!-- Twitterã‚·ã‚§ã‚¢ -->
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=ã¿ã¦ã¿ã¦ðŸ¾%0a%0aã€Œ#{ @post.name }ã€ã¯æ­£ç¾©ðŸ¾%0a%0a&hashtags=ã‚‚ãµã¯æ­£ç¾©,ã‚‚ãµã‚‚ãµ", target: '_blank', class: 'fa-brands fa-twitter fa-2xl', style: 'color: #909398;' do %>
          <% end %>
        </div>
        <!-- ã‚³ãƒ¡ãƒ³ãƒˆãƒ•ã‚©ãƒ¼ãƒ  -->
          <%= render 'comments/form', { post: @post, comment: @comment } %>
        <!-- ã‚³ãƒ¡ãƒ³ãƒˆã‚¨ãƒªã‚¢ -->
          <%= render 'comments/comments', { comments: @comments } %>
      </article>
    </div>
  </div>
</div>
